@using Elpida.Web.Frontend.Shared.Extensions
<div @ref="_container" class="content-container">
    <main class="container content-bg">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </main>
</div>

@inject IJSRuntime JS;

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private ElementReference _container;

    public async Task ResetScrollAsync()
    {
        await _container.ScrollTo(JS, 0, 0, "smooth");
    }

}