.content-container {
    display: flex;
    place-items: center;
    flex-flow: column wrap;
    overflow: auto;
    flex-grow: 1;
}

.content-bg {
    background-color: var(--content-bg-color);
    box-shadow: 0 0 1rem 1rem var(--content-bg-color);
    border-radius: .5rem;
}