@using Elpida.Web.Frontend.Services
@using Elpida.Web.Frontend.Shared.Components

<header class="header">
    <div class="container header-container">
        <NavLink href="/" class="flex-center">
            <img class="logo" src="./assets/Elpida_Logo.svg" alt="Elpida Logo"/>
        </NavLink>
        <nav>
            <div class="menu-toggler" @onclick="ToggleNavMenu"></div>
            <div class="nav-links @AdditionalNavCssClass">
                <LinkButton Href="/">
                    <IconWithText IconName="home">
                        Home
                    </IconWithText>
                </LinkButton>
                <LinkButton Href="/download">
                    <IconWithText IconName="download">
                        Download
                    </IconWithText>
                </LinkButton>
                <LinkButton Href="/database">
                    <IconWithText IconName="database">
                        Database
                    </IconWithText>
                </LinkButton>
                <LinkButton Href="/statistics">
                    <IconWithText IconName="statistics">
                        Statistics
                    </IconWithText>
                </LinkButton>
                <LinkButton Href="/results">
                    <IconWithText IconName="result">
                        Results
                    </IconWithText>
                </LinkButton>
                <LinkButton Href="/news">
                    <IconWithText IconName="rss">
                        News
                    </IconWithText>
                </LinkButton>
                <LinkButton Href="/about">
                    <IconWithText IconName="elpida">
                        About
                    </IconWithText>
                </LinkButton>
            </div>
        </nav>
    </div>
</header>

@code {

    private bool _collapseMenu = true;

    private string? AdditionalNavCssClass => _collapseMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseMenu = !_collapseMenu;
    }

}