@inherits LayoutComponentBase

<div class="background-back">
    <div class="background-front">
        <div class="header-wrapper">
          <Header/>
        </div>
        
        <div class="content-wrapper">
            <Content>
                @Body
            </Content>
        </div>
    </div>
</div>

@code
{

}