.background-back {
    background-image: url("./assets/Elpida.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    background-attachment: fixed;
    background-color: var(--main-bg-color);
    min-height: 100vh;
}

.background-front {
    background-color: var(--content-bg-color);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    align-content: stretch;
}

.content-wrapper {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-flow: column;
}

.header-wrapper {
    position: relative;
    z-index: 1;
}