@page "/Database"
@using Elpida.Web.Frontend.Models
@using Elpida.Web.Frontend.Shared.Components

<h1>Database</h1>


<ul class="collection-container">

    @foreach (var category in Categories)
    {
        <li class="collection-item">
            <LinkButton Class="collection-item-link" Href="@category.Link">
                <img alt="@category.Name" src="@category.IconLink" class="collection-item-icon" loading="lazy">
                <span class="collection-item-name collection-item-name-margin">
                    @category.Name
                </span>
            </LinkButton>
        </li>
    }
</ul>

@code {

    private readonly CategoryModel[] Categories =
    {
        new("Results", "/Database/Results", "./assets/categories/results.svg"),
        new("CPUs", "/Database/Cpus", "./assets/categories/cpus.svg"),
        new("Benchmarks", "/Database/Benchmarks", "./assets/categories/benchmarks.svg"),
        new("Operating systems", "/Database/Operating-Systems", "./assets/categories/operating-systems.svg"),
        new("Elpida versions", "/Database/Elpida-Versions", "./assets/categories/elpida-versions.svg"),
    };

}