@page "/Database/Benchmarks"
@using Elpida.Web.Frontend.Shared.Components
@using Elpida.Web.Frontend.Interfaces
@using Elpida.Backend.Services.Abstractions.Dtos
@using Elpida.Backend.Services.Abstractions.Dtos.Benchmark

<h3>Benchmarks</h3>

<ul>
    <PagedCollection Service="_service" TDto="BenchmarkDto" TPreview="BenchmarkPreviewDto">
        <li class="collection-item">
            <LinkButton Class="collection-item-link" Href="@GetBenchmarkLink(context)">
                <img alt="@context.Name" src="@GetBenchmarkImage(context)" class="collection-item-icon" loading="lazy">
                <span class="collection-item-name">
                    @context.Name
                </span>
            </LinkButton>
        </li>
    </PagedCollection>
</ul>

@inject IBenchmarkFrontEndService _service;

@code {
    private static string GetBenchmarkLink(FoundationDto dto)
    {
        return $"/Database/Benchmark/{dto.Id}";
    }

    private static string GetBenchmarkImage(BenchmarkPreviewDto dto)
    {
        return $"./assets/benchmarks/{dto.Uuid}.svg";
    }
    

}