@page "/Database"

@using Elpida.Web.Frontend.Shared.Components
@using Elpida.Backend.Services.Abstractions.Dtos.Cpu;
@using Elpida.Web.Frontend.Services

<h1>Database</h1>

<PagedCollection TDto="CpuDto" TPreview="CpuPreviewDto" Service="new CpuService()">
    @context.ModelName
</PagedCollection>

@code {

    

}