@using Elpida.Web.Frontend.Models.Filters
@using Elpida.Web.Frontend.Models

<label class="raw-value-filter">
    <span>@Model.Name</span>
    <ComparisonSelect AllowedComparisons="@ComparisonType.DateComparisons" @bind-Comparison="Model.Comparison"/>
    <InputDate  DisplayName="@Model.Name" @bind-Value="Model.Value"/>
</label>

@code {

    [Parameter]
    public DateTimeFilterModel Model { get; set; }

}