@using Elpida.Web.Frontend.Models.Filters

<label>
    <span>@Model.Name</span>
    <InputSelect TValue="string" @bind-Value="Model.Value">
        @foreach (var option in Model.Options)
        {
            <option value="@option.InternalName">@option.DisplayName</option>
        }
    </InputSelect>
</label>

@code {

    [Parameter]
    public OptionFilterModel Model { get; set; }

}