@page "/Database/Cpus"
@using Elpida.Web.Frontend.Shared.Components
@using Elpida.Backend.Services.Abstractions.Dtos.Cpu
@using Elpida.Backend.Services.Abstractions.Dtos
@using Elpida.Web.Frontend.Interfaces

<h3>Cpus</h3>

<ul>
    <PagedCollection Service="_service" TDto="CpuDto" TPreview="CpuPreviewDto">
        <li class="collection-item">
            <LinkButton Class="collection-item-link" Href="@GetCpuLink(context)">
                <img alt="@context.Vendor" src="@GetVendorImage(context)" class="collection-item-icon" loading="lazy">
                <span class="collection-item-name">
                    @context.ModelName
                </span>
            </LinkButton>
        </li>
    </PagedCollection>
</ul>



@inject ICpuFrontEndService _service;

@code {

    private static string GetCpuLink(FoundationDto dto)
    {
        return $"/Database/Cpu/{dto.Id}";
    }

    private static string GetVendorImage(CpuPreviewDto dto)
    {
        return $"./assets/cpus/{dto.Vendor}.svg";
    }
    
}