.button {
    padding: 1.3em;
    text-decoration: none;
    display: inline-block;
    background-color: var(--button-bg-color);
    color: #fff;
    transition: background .3s ease;
    border-radius: 2em;
    box-shadow: var(--shadow);
}

.button:hover  {
    background-color: var(--button-hover-bg-color);
    color: var(--font-color);
}

.button.active  {
    background-color: var(--button-active-bg-color);
    color: var(--font-color);
}

.button.medium {
    padding: 1em;
}

.button.small {
    padding: 0.8em;
}