@using Elpida.Web.Frontend.Services

<div class="icon-container">
    @if (_elpidaIcons.IconsMap.ContainsKey(IconName))
    {
        @_elpidaIcons.IconsMap[IconName]
    }
    
    @if (ChildContent != null)
    {
        <span class="icon-text">@ChildContent</span>
    }
</div>

@inject ElpidaIconsService _elpidaIcons;

@code {

    [Parameter]
    public string IconName { get; set; } = ElpidaIconsService.DefaultIconName;
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}