@typeparam TDto        where TDto : Elpida.Backend.Services.Abstractions.Dtos.FoundationDto
@using Elpida.Web.Frontend.Interfaces

@if (_resource is not null)
{
    @ChildContent(_resource)
}
else
{
    <div class="flex-center column" style="height: 10em">
        <div class="spinner"></div>
    </div>
}

@code {

    [Parameter]
    public long Id { get; set; }

    [Parameter]
    public RenderFragment<TDto> ChildContent { get; set; }

    [Parameter]
    public IFrontEndService<TDto> Service { get; set; }

    private TDto? _resource;
    
    protected override async Task OnParametersSetAsync()
    {
        _resource = await Service.GetSingleAsync(Id);
    }

}